Target/debug/*.exe filter=lfs diff=lfs merge=lfs -text
Target/release/*.exe filter=lfs diff=lfs merge=lfs -text

Target/debug/Build filter=lfs diff=lfs merge=lfs -text
Target/release/Build filter=lfs diff=lfs merge=lfs -text

Target/debug/Maintain filter=lfs diff=lfs merge=lfs -text
Target/release/Maintain filter=lfs diff=lfs merge=lfs -text
